body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #696969;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 0.1rem 0;
  width: 100%;
  background-color: #808080;
  border-bottom: solid 1px black;
  h3 {
    color: #fff;
    margin-left: 5rem;
    .header--userinfo {
      float: right;
      margin-right: 5rem;
      span {
        margin-right: 0.5rem;
      }
      a {
        margin-left: 0.5rem;
        color: #fff;
      }
    }
  }
} 

footer {
  width: 100%;
  padding: 10px 0;
  background-color: #808080;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-top: solid 1px black;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 0.2rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.1rem;
  border: solid 1px black;
}

.btn-small {
  font-size: 0.7rem;
}

.btn-–large {
  width: 85%;
}

.btn--blue {
  color: #fff;
  background-color: #a9a9a9;
  &:hover {
    color: #fff;
    background: #87ceeb;
  }
}

.btn--red {
  color: #fff;
  background-color: #a9a9a9;
  &:hover {
    color: #fff;
    background: #dc143c;
  }
}

.btn--navy {
  color: #fff;
  background-color: #000080;
  &:hover {
    color: #fff;
    background: #191970;
  }
}

.container {
  height: 100%;
  width: 50%;
  margin: 1.5rem auto;
}

.add-button {
  position: relative;
  left: -5rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #a9a9a9;
  border: solid 1px black;
  width: 100%;
  height: 8rem;
  border-radius: 0.1rem;
  color: #fff;
  margin-bottom: 1rem;
  h4 {
    position: relative;
    margin: 0.5rem 0.5rem;
    border-bottom: solid 1px black;
    height: 1.5rem;
    overflow: hidden;
  }
  .description {
    position: relative;
    margin: 0.5rem 0.5rem;
    border-bottom: solid 1px black;
    height: 3rem;
    overflow: hidden;
  }
  .button {
    margin: 0.5rem 0.5rem;
    a:first-child {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

.icon {
  margin-top: 3rem;
  color: #fff;
  text-align: center;
}

.signup-form {
  margin: 0 auto;
  padding: 1.5rem;
  width: 60%;
  height: 14rem;
  background-color: #a9a9a9;
  border: solid 1px black;
  border-radius: 0.1rem;
  color: #fff;
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
  }
  input {
    width: 99%;
    border: solid 1px black;
    border-radius: 0.1rem;
  }
  .username {
    margin-bottom: 1rem;
  }
  .email {
    margin-bottom: 1rem;
  }
  .password {
    margin-bottom: 1.5rem;
  }
  .submit-button {
    text-align: center;
  }
}

.signin-form {
  margin: 0 auto;
  padding: 1.5rem;
  width: 60%;
  height: 10rem;
  background-color: #a9a9a9;
  border: solid 1px black;
  border-radius: 0.1rem;
  color: #fff;
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
  }
  input {
    width: 99%;
    border: solid 1px black;
    border-radius: 0.1rem;
  }
  .email {
    margin-bottom: 1rem;
  }
  .password {
    margin-bottom: 1rem;
  }
  .btn {
    float: right;
  }
}

.editform {
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  height: 35rem;
  background-color: #a9a9a9;
  border: solid 1px black;
  border-radius: 0.1rem;
  color: #fff;
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
  }
  input[type='text'] {
    width: 99%;
    border: solid 1px black;
    border-radius: 0.1rem;
  }
  textarea {
    width: 99%;
    height: 24rem;
    resize: none;
    border: solid 1px black;
    border-radius: 0.1rem;
  }
  .title {
    margin-bottom: 0.5rem;
  }
  .pin {
    label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
  .description {
    margin-bottom: 0.5rem;
  }
  .savebutton {
    text-align: center;
  }
}